/*! purgecss start ignore */

img {
  max-width: 100%;
}

pre {
  @apply bg-gray-100 p-2 rounded-lg text-14 text-gray-800;
}

body {
  overflow-x: hidden;
}

.site {
  @apply flex flex-col min-h-screen;

  &-main {
    @apply flex-grow;
  }
}

.admin-bar {
  .site-header {
    margin-top: 46px;

    @screen lg {
      @apply mt-8;
    }
  }
}

hr {
  @apply my-6;
}

@responsive {
  .container-small {
    @apply max-w-800;
  }

  .break-container {
    &-right {
      margin-right: calc(50% - 50vw);
      @apply pr-0 right-2 relative ml-2;
    }
    &-left {
      margin-left: calc(50% - 50vw);
      @apply pl-0;
    }
    &-both {
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      @apply px-0;
    }
  }
}

.border-bottom {
  @apply mb-4 pb-4;

  @screen md {
    @apply mb-4 pb-4;
  }

  &:after {
    content: '';
    @apply block w-24 h-2px bg-white bg-opacity-30 mb-0 mt-8;

    @screen md {
      @apply mb-10 mt-12;
    }
  }
}

.show-nav {
  background: theme(colors.secondary.700) !important;
}

@responsive {
  .gradient-white {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3393732492997199) 28%, rgba(255, 255, 255, 0) 58%);
  }
}
.fc {
  &-header-toolbar {
    @screen smd {
      @apply flex-wrap flex-col text-center;
    }
    .fc-toolbar-chunk {
      @screen smd {
        @apply text-center;
      }
      h2 {
        @screen smd {
          @apply mb-2;
        }
      }
    }
  }

  &-view a {
    cursor: default;
    pointer-events: none;
    text-decoration: none !important;
    border: none !important;
  }

  &-event {
    &.the-barn {
      .fc-event-main {
        @apply text-secondary-700;
      }
    }

    &-main {
      @apply px-2 py-1;
    }
  }

  &-list {
    &-table {
      @apply w-full;
    }
    &-day {
      th {
        @apply bg-white border-none;
      }
      &-cushion {
        @apply bg-white;

        a {
          @apply mx-1;
        }
      }
    }
    &-event {
      @apply flex justify-center items-center border-none my-2 py-1;

      td {
        @apply border-none mx-1 font-medium text-center;
      }
    }
  }
}

/*! purgecss end ignore */
